
<% include partials/_headeritsx %>


<style>
		#calendar {
			font-family:Arial;
			font-size:12px;
		}
		#calendar caption {
			text-align:left;
			padding:5px 10px;
			background-color:#003366;
			color:#fff;
			font-weight:bold;
			font-size:medium;
		}
		#calendar caption div:nth-child(1) {float:left;}
		#calendar caption div:nth-child(2) {float:right;}
		#calendar caption div:nth-child(2) a {cursor:pointer;}
		#calendar th {
			background-color:#2c0ac2;
			color:#fff;
			width:10px;
		}
		#calendar td {
			text-align:right;
			padding:2px 5px;
			background-color:rgb(236, 226, 226);
		}
		#calendar .hoy {
			background-color:rgb(111, 0, 255);
		}
    </style>


<div class="container mt-3">    
    <img src="/images/1.jpeg" ALIGN=RIGHT width="200" height="150">
        <table  style="width:5%" id="calendar" ALIGN=LEFT>
                <caption></caption>
                <thead>
                    <tr>
                        <th>Lun</th><th>Mar</th><th>Mie</th><th>Jue</th><th>Vie</th><th>Sab</th><th>Dom</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>  &nbsp;     &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  <video  ALIGN=center width="560" height="315" controls poster="/images/poster.png">
                Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
                <source src="/images/Alma_TecXalapa.mp4" type="video/mp4">
                </video>
                

<img src="/images/2.jpeg" ALIGN=RIGHT width="200" height="150">

</div>

<div class="container mt-5">
        <div class="row">
        <div class="col-md-12">
                

            <strong>      <p style="color:black;" ALING=CENTER>
Según el Instituto Nacional de Estadística y Geografía (INEGI), una persona con discapacidad es aquella 
que tiene alguna limitación física o mental para realizar actividades en su casa, en la escuela o trabajo, 
como caminar, vestirse, bañarse, leer, escribir, escuchar, etcétera. En México, las personas con discapacidad 
tienen dificultades para ejercer con plenitud sus derechos, debido a obstáculos sociales y culturales en virtud 
de sus  condiciones físicas, psicológicas y/o conductuales; los espacios públicos no están planeados en función 
de sus necesidades y aunado a esto sufren, en su mayoría, una doble discriminación pues el género,
la condición socioeconómica, la raza y la etnia pueden acentuar esta situación.
</p></strong>
<strong>
<p style="color:black;">

La inclusión se ve como el proceso de identificar y responder a la diversidad de las necesidades de todos 
los estudiantes a través de la mayor participación en el aprendizaje, las culturas y las comunidades, y reduciendo 
la exclusión en la educación. Involucra cambios y modificaciones en contenidos, aproximaciones, estructuras y estrategias,
 con una visión común que incluye a todos los niño/as del rango de edad apropiado y la convicción de que es la 
 responsabilidad del sistema regular, educar a todos los niño/as 
</p></strong>
</div>

</div>
</div>









<% include partials/_foteritsx %>



<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(89195)</script>








    <script>
            var actual=new Date();
            function mostrarCalendario(year,month)
            {
                var now=new Date(year,month-1,1);
                var last=new Date(year,month,0);
                var primerDiaSemana=(now.getDay()==0)?7:now.getDay();
                var ultimoDiaMes=last.getDate();
                var dia=0;
                var resultado="<tr bgcolor='silver'>";
                var diaActual=0;
                console.log(ultimoDiaMes);
             
                var last_cell=primerDiaSemana+ultimoDiaMes;
             
                // hacemos un bucle hasta 42, que es el máximo de valores que puede
                // haber... 6 columnas de 7 dias
                for(var i=1;i<=42;i++)
                {
                    if(i==primerDiaSemana)
                    {
                        // determinamos en que dia empieza
                        dia=1;
                    }
                    if(i<primerDiaSemana || i>=last_cell)
                    {
                        // celda vacia
                        resultado+="<td>&nbsp;</td>";
                    }else{
                        // mostramos el dia
                        if(dia==actual.getDate() && month==actual.getMonth()+1 && year==actual.getFullYear())
                            resultado+="<td class='hoy'>"+dia+"</td>";
                        else
                            resultado+="<td>"+dia+"</td>";
                        dia++;
                    }
                    if(i%7==0)
                    {
                        if(dia>ultimoDiaMes)
                            break;
                        resultado+="</tr><tr>\n";
                    }
                }
                resultado+="</tr>";
             
                var meses=Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
             
                // Calculamos el siguiente mes y año
                nextMonth=month+1;
                nextYear=year;
                if(month+1>12)
                {
                    nextMonth=1;
                    nextYear=year+1;
                }
             
                // Calculamos el anterior mes y año
                prevMonth=month-1;
                prevYear=year;
                if(month-1<1)
                {
                    prevMonth=12;
                    prevYear=year-1;
                }
             
                document.getElementById("calendar").getElementsByTagName("caption")[0].innerHTML="<div>"+meses[month-1]+" / "+year+"</div><div><a onclick='mostrarCalendario("+prevYear+","+prevMonth+")'>&lt;</a> <a onclick='mostrarCalendario("+nextYear+","+nextMonth+")'>&gt;</a></div>";
                document.getElementById("calendar").getElementsByTagName("tbody")[0].innerHTML=resultado;
            }
             
            mostrarCalendario(actual.getFullYear(),actual.getMonth()+1);
            </script>